.contactBlock {
    background-color: fuchsia;
    padding: 50px;
}

.contactContainer {
    flex-direction: column;
    justify-content: flex-start;
}


.contactTitle {
    background-color: #ffacd8;
}


.contactForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button {
    width: 50px;
    height: 20px;
    background-color: #ffacd8;
    text-decoration: none;
}

