.skillBlock {
    width: 250px;
    /*min-height:300px;*/
    background-color: darkolivegreen;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.icon {
    height: 60px;
    width: 60px;
    background-color: red;
}
