.skillsBlock {
    height: 100vh;
    background-color: #ffacd8;
}

.skillsContainer {
    /*align-items: flex-start;*/
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: blue;
}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;


}

