.remoteBlock {
    min-height: 100vh;
    background-color: aliceblue;
}

.remoteContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.remoteTitle {
    background-color: blue;
}
