.footerBlock {
    background-color: darkgray;
    padding: 50px;
}

.footerContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.footerTitle {
    background-color: yellow;
}

.footerSocial {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: 100px;
    background-color: yellow;
}

.footerRights {
    background-color: yellow;
}
